<div class="card flex">
  <h3 class="card-header flex-row justify-space-between">
    <a href="/post/{{id}}" target="_blank">{{title}}</a> 
    <span>Posted by <strong>{{user.username}}</strong> on <strong>{{format_date created_at}}</strong></span></h3>
    <div class="card-body">
      <p>{{post_body}}</p>